@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#root {
  height: 100%;
  width: 100%;
}

html, body {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  margin: 0;
  padding: 0;
}
